@media screen and(max-width: 1450px){
    header .content1_4 h4 {
        font-size: 25px;
    }
}
@media screen and (max-width:1350px) {
    header .content1_2 .details1 h4 {
        margin: 0px 10px 10px 30px;
        font-size: 20px;
    }
    header .content1_1 .cont1_left h1 {
        font-size: 40px;
    }
    header .content1_1 .cont1_left h1 span{
        font-size: 30px;
    }
}
@media screen and (max-width: 1000px){
    header .content1_1 {
        display: block;
    }
    header .content1_1 img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        margin: 0;
    }
@media screen and (max-width: 970px){
    header .end h4{
        font-size: 25px;
    }
}

}
@media screen and (max-width: 950px){
    header .carta .carta_left p {
        font-size: 25px;
    }
    header .carta .carta_left h1 {
        font-size: 35px;
    }
    .map iframe {
        width: 400px;
        height: 400px;
    }
    .contact .moe h3{
        font-size: 1em;
    }
    .contact .moe p{
        font-size: 14px;
    }
    
}
@media screen and (max-width: 910px){
    header nav ul {
        position: absolute;
        width: 100px;
        height: auto;
        flex-direction: column;
        background: aliceblue;
        border-radius: 5px;
        box-shadow: 0px 0px 10px grey;
        justify-content: center;
        top:-100%;
        right: 30%;
        z-index: 999;
        padding: 10px 20px;
        transition: 0.5s linear;
    }
    
    header nav .ul_active{
        top:0;
    }
    header nav ul li{
        padding: 8px 0px;
        text-align: center;
    }
    header nav .bi-three-dots{
        display:unset;
    }
    
}
@media screen and (max-width: 900px){
    header .content1_2{
        display: block;
    }
    header .content1_2 .details1{
        width: auto;
        text-align: center;
    }
    header .content1_2 .details1 ul {
        margin: 0;
        margin-bottom: 60px;
        list-style: none;
    }
    header .content1_2 .details1 ul li{
        margin: 0;
        padding-top: 3px;
    }
@media screen and (max-width: 820px){
    header .myi{
        display: block;
    }
    header .myi .myi_left{
        margin: auto;
    }
    header .myi .picture img{
        width: 100%;
    }
}
}
@media screen and (max-width: 800px){
    header .end h4{
        font-size: 20px;
    }
}
 @media screen  and (max-width: 700px){
    header .carta .carta_left p {
        font-size: 20px;
    }
    header .carta .carta_left h1 {
        font-size: 30px;
    }
    .map iframe {
        width: 330px;
        height: 400px;
    }
    .contact .moe h3{
        font-size: 0.8em;
    }
    .contact .moe p{
        font-size: 12px;
    }
    #okno{
        width: 400px;
        height: 400px;
    }
    #okno img{
        width: 350px;
        height: 250px;
    }
}
@media screen  and (max-width: 550px){
    header .content1_4 .check span{
        font-size: 30px;
    }
    #okno{
        width: 300px;
        height: 300px;
    }
    #okno img{
        width: 200px;
        height: 175px;
    }
    .map iframe {
        width: 250px;
        height: 175px;
    }
}
@media screen  and (max-width: 400px){
    header .content1_4 .check span{
        font-size: 20px;
    }
    
}